.Todo { 
    margin-top: 20px;
    width: 100%;
    list-style: none;
}

.TodoCount {
    color: var(--border-bottom);
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--input-div);
    padding: 20px 20px;
    border-radius: 0 0 5px 5px ;
}
.TodoMargin {
    margin: 0 0 0 0;
}
.All {
    color: #3a7bfd;
}
.ClearComplete:hover {
    color: var(--font);
    cursor: pointer;
}
.TodoActions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
}
.TodoActions p {
    margin: 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
@media (min-width: 700px) {
    section{
        width: 50%;
    }
}
