* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: hsl(235, 21%, 11%);
  --font: hsl(236, 33%, 92%);
  --border: hsl(237, 14%, 26%);
  --border-bottom: hsl(233, 14%, 35%);
  --input-div: hsl(235, 24%, 19%);
}

body {
  display: grid;
  place-items: center;
  color: var(--font);
  padding: 80px 0;
  background-color: var(--bg);
  background-image: url('./assets/images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

#root {
  width: 80%;
}

@media (min-width: 376px) {
  body {
    background: url('./assets/images/bg-desktop-dark.jpg') var(--bg) no-repeat;
    background-size: cover;
   height: 300px;
  }
}
@media (min-width: 700px) {
  #root {
    display: grid;
    place-items: center;
    width: 80%;
  }
}