* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  color: #e4e5f1;
  padding: 60px 0;
  background: url('../public/images/bg-mobile-dark.jpg') #161722 no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

#root {
  width: 80%;
}

@media (min-width: 376px) {
  body {
    background: url('../public/images/bg-desktop-dark.jpg') #161722 no-repeat;
  }
}
@media (min-width: 700px) {
  #root {
    display: grid;
    place-items: center;
    width: 80%;
  }
}